@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h2-educ{
    padding-top: 0.8rem;
}
.content-educ{
    padding: 1.0rem;
}
.desc-educ{
    width: 50%;
}

.homepage {
    width: 100%;
    height: 60rem;
    background-color:#dbdbdb;
}

.nav-bar-home{
    border-radius: 4px;
    background-color: #28c074;
    width: 15%;
    transition: all 0.3s ease; 
}

.nav-bar-home:hover{
    background-color:#09d670; 
    border-color: #999; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}
.atividades{
    font-size: large;
    font-style: oblique;
    padding: 0.5rem;
}

#container-nav-actions{
    padding: 0.025rem;
}
.label-navs-user{
    padding: 0.15rem;
    padding-left: 40px;
    transition: all 0.3s ease; 
}

.label-navs-user:hover{
    padding: 0.15rem;
    background-color: #28c074; 
    border-color: #999; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}


.label-navs{
    padding: 0.15rem;
    transition: all 0.3s ease; 
}

.label-navs:hover{
    padding: 0.15rem;
    padding-left: 40px;
    background-color: #28c074; 
    border-color: #999; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}

.label-navs > li{
    display: flex;
    flex-direction: row;
}

.label-navs > li > a{
    padding-left: 4px;
}

.homepage{
    display: flex;
    flex-direction: row;
}
.educ{
    color: #fff;
    font-size: 3.5rem;    
}
.titulo-homepage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    width: 100%;
}

.body-home{
    width: 100%;
    padding-left: 1.0rem;
}

#search-input{
    border: 1px solid #fff;
    border-radius: 4px;
}

.barrapesquisa > div > input{
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 50%;
}


.barrapesquisa {
    padding: 0.6rem;
    padding-right: 1.5rem;
    border-radius:  4px;
    height: 50%;
}
.divbarra{
    display: flex;
    flex-direction: row;
}


.descricao{
    color: #fff;
}

.doacoes-titulo{
    display: flex;
    flex-direction: column;
    padding: 1.0rem;
    font-size: 2.5rem;
}   
#nameoption{
    font-size: medium;
    color: black;
}   

.container-drop{
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: medium;
    color:black;
    width: 20%;
    background-color: #fff;
    border-radius: 4px;
}

.doacoes-titulo > h1{
    padding-right: 0.15rem;

}   

#selectopen{
 width: 15%;
 background-color: #fff;
 border-radius: 4px;
}

.container-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-select > select{    
    border-radius: 4px;
}

.container-dropdown{
    padding-left: 370px;
}

.title-drop{
    color: black;
}


.card-donation{
    padding: 16px;
    width: 18%;
    border-radius:  5px;
    background-color: #ffffffe5;  
    border: 1px solid #ccc;
    transition: all 0.3s ease; 
    margin-bottom: 48px; 
    margin-right: 24px;
}

.card-donation:hover {
    background-color:#28c074; 
    border-color: #999; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}


.conteudo{
    padding: 4px;
}
.container-conteudo{
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;  
    padding: 24px;
}
.btn-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.dropdown-item{
    background-color: #fff;  
    border: 1px solid #fff;
    transition: all 0.3s ease; 
}

.dropdown-item:hover{
    background-color: #60e49b; /* Cor de fundo quando o mouse está sobre o card */
    border-color: #fff; /* Cor da borda quando o mouse está sobre o card */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra quando o mouse está sobre o card */
}

.pagination > .numberpag {
border-radius: 4px;
background-color: #fff;
width: 15%;
padding: 8px;   
}

.pagination > .numberpag > button{
    padding: 8px;       
}

.container-pag{
    padding-left: 1.5rem;
    width: 30%;
    position: relative;
    margin-bottom: 0;
}

.numberpag > button:hover{
background-color:#28c074; 
border-color: #999; 
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}


    