@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.homepage {
    width: 100%;
    height: 100vh;
    background-color: #15b15b;
}

.nav-bar-home{
    border-radius: 4px;
    background-color: #f7f7f7fb;
    width: 15%;
    height: 100%;
}
.atividades{
    font-size: large;
    font-style: oblique;
    padding: 0.5rem;
}

#container-nav-actions{
    padding: 0.025rem;
}

.label-navs{
    padding: 0.15rem;
}
.label-navs > li{
    display: flex;
    flex-direction: row;
}

.label-navs > li > a{
    padding-left: 4px;
}

.homepage{
    display: flex;
    flex-direction: row;
}
.educ{
    color: #fff;
    font-size: 3.5rem;    
}
.titulo-homepage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
    width: 100%;
}

.body-home{
    width: 100%;
    padding-left: 1.0rem;
}

#search-input{
    border: 1px solid #fff;
    border-radius: 4px;
}

.barrapesquisa > div > input{
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 50%;
}


.barrapesquisa {
    padding: 0.6rem;
    padding-right: 1.0rem;
    border-radius:  4px;
    height: 50%;
}

.descricao{
    color: #fff;
}

.doacoes-titulo{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    font-size: 2.5rem;
    color: #fff;
}   
#nameoption{
    font-size: medium;
    color: black;
}   

.container-drop{
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: medium;
    color:black;
    width: 15%;
    background-color: #fff;
    border-radius: 4px;
}

.doacoes-titulo > h1{
    padding-right: 0.15rem;

}   

#selectopen{
 width: 15%;
 background-color: #fff;
 border-radius: 4px;
}

.container-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-select > select{    
    border-radius: 4px;
}

.container-dropdown{
    padding-left: 370px;
}

.title-drop{
    color: black;
}







